html, body {
    overflow: hidden
}

.loader-dots {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 40px)
}

.loader-dots:before, .loader-dots:after {
    height: 20px;
    width: 45px;
    background-image: radial-gradient(closest-side, #111 100%, transparent), radial-gradient(closest-side, #111 100%, transparent);
    background-position: 0, 100%;
    background-size: 20px 20px, 20px 20px;
    background-repeat: no-repeat;
    position: absolute;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-name: spin, onOff;
    content: ""
}

.loader-dots:before {
    animation-direction: normal, reverse
}

.loader-dots:after {
    right: 0;
    animation-direction: reverse, normal
}

.loader-dots {
    height: 20px;
    width: 70px;
    background-image: radial-gradient(closest-side, #111 100%, transparent), radial-gradient(closest-side, #111 100%, transparent);
    background-position: 0, 100%;
    background-size: 20px 20px, 20px 20px;
    background-repeat: no-repeat;
    position: absolute;
    animation: toggle .8s ease-in-out infinite
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    50%, to {
        transform: rotate(180deg)
    }
}

@keyframes onOff {
    0%, 49% {
        opacity: 0
    }
    50%, to {
        opacity: 1
    }
}

@keyframes toggle {
    0%, 49.9% {
        background-size: 0 0, 20px 20px
    }
    50%, to {
        background-size: 20px 20px, 0 0
    }
}

.x {
    margin: 0 auto;
    text-align: center;
}